.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,1210,0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav__link {
    color: #2e363e;
    text-decoration: none;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.nav_dot {
    background-color: tomato;
    height: 5px;
    width: 5px;
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 18px;
    border-radius: 3px;
}

.gear {
    position: relative;
}

.nav_point {
    background-color: tomato;
    height: 5px;
    width: 5px;
    display: flex;
    position: absolute;
    top: -10px;
    right: 20px;
    border-radius: 3px;
}

/* width , height 가 바로 적용 안되는 이유 : span은 inline이라 적용이 되지 않기에 display : block나 flex으로  */
/* position : absolute를 쓰면 position:relative를 가진 부모를 기준으로 움직임 없으면 body로 감*/

