
@keyframes rotaion {
    from {
        transform: rotate(0deg) ;
    }

    to {
       transform:  rotate(180deg);
    }
}

.circle {
    display: flex;
    width: 120px;
    margin-bottom: 100px;
    animation :rotaion 1s infinite ease-in-out;
    /* margin: 100px; */
    justify-content: space-between;
}

.circle__rotation {
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
